doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2.bright Where?
        h3
          a(href="https://twitter.com/meteorjs") @meteorjs
          span  and 
          a(href="https://www.meteor.com/blog") https://www.meteor.com/blog
        h3
          a(href="http://thisweekinmeteor.com/") http://thisweekinmeteor.com/
          span  and 
          a(href="http://meteorpoint.com/") http://meteorpoint.com/
        h3
          a(href="https://crater.io/") https://crater.io/
        h3
          a(href="https://forums.meteor.com") https://forums.meteor.com
        h3
          a(href="https://github.com/meteor/meteor/blob/devel/History.md") https://github.com/meteor/meteor/blob/devel/History.md

      section
        h3.bright MDG
        h1 Meteor 1.1.1 <br> on the way

      section
        h2 In Meteor 1.1.1
        h3 Spacebars sub-expressions
        h3 Email attachments
        h3 permessage-deflate on WebSockets
        h3
          a(href="https://github.com/meteor/meteor/blob/devel/History.md") And plenty of other stuff...
          
      section
        h1 Meteor 1.2 <br> 
          i "later this summer"

      section
        h2 Coming in 1.2
        h3 ES2015 support!
        h3 First-class support for Angular and React
        h3 Rate-limiting for subscriptions and methods
        h3 Build plugins: compiler, linter, minifier

      section
        h1 Bookmark <br> July 30th

      section
        h3 July 30th
        h2 Geoff Schmidt, Meteor CEO
        h4 "JS State of the Union" talk at SF Devshop

      section
        h3 Followed by...

      section
        h3 July 30th
        h2 Alice and Sashko of MDG
        h4 Crowdcast - Ask Me Anything

      section
        h1 Community
        
      section
        h4 
          a(href='https://cldup.com/JNPqRdYhrv.png') Kadira Debug v2
        h4 
          a(href='https://medium2.global.ssl.fastly.net/max/2000/1*yWDsactITnhl1jry2DCkVQ.png') Mongol 2.0
        h4 
          a(href='https://github.com/meteor-velocity/velocity-helpers/') velocity:helpers to simplify testing
        h4 
          a(herf='https://atmospherejs.com/timbrandin/sideburns') Sideburns 0.2.0 (React Templating for Meteor)

      section
        h2 What's your news?
        
      section
        h1 Get in touch
        h4 github.com/meteor-london/next

      section
        h1 That's all, folks!

script(src='build/build.js')
