doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2.bright Where?
        h3
          a(href="https://twitter.com/meteorjs") @meteorjs
          span  and 
          a https://www.meteor.com/blog
        h3
          a http://thisweekinmeteor.com/
        h3
          a https://crater.io/
        h3
          a https://forums.meteor.com
        h3
          a https://github.com/meteor/meteor/blob/devel/History.md

      section
        h2.bright MDG
        h3 Meteor 1.1.1 on the way
        h3 And 1.2 "later this summer"

      section
        h2 In 1.1.1 we will get:
        h3 Spacebars sub-expressions
        h3 Email attachments
        h3 New methods for ReactiveDict and Tracker
        h3 And plenty of other stuff...

      section
        h2 In 1.2 we will get:
        h3 ES2015 support
        h3 First-class support for Angular and React
        h3 Rate-limiting for subscriptions and methods
        h3 Build plugins: compiler, linter, minifier

      section
        h2 Coming up
        h3 Geoff Schmidt, Meteor CEO
          h4 "JS State of the Union" talk at SF Devshop
          h4 July 30th
        h3 Alice (Director of Community) and Sashko (core dev)
          h4 Crowdcast AMA
          h4 July 30th

      section
        h2.bright Community
        h3 Kadira Debug v2
        h3 Mongol 2.0 with SDK
        h3 velocity:helpers to simplify testing
        h3 Sideburns 0.2.0 (React Templating for Meteor)

      section
        h2 How to contact us
        h3 
          a https://github.com/meteor-london/next
        h3 
          a https://gitter.im/meteor-london/next
        h3 ...or via Meetup, if you must

      section
        h1 That's all, folks!

script(src='build/build.js')
