doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2.bright Where?
        h3 @meteorjs
        h3
          a https://www.meteor.com/blog
        h3
          a http://thisweekinmeteor.com/
        h3
          a https://crater.io/
        h3
          a https://forums.meteor.com
        h3
          a https://github.com/meteor/meteor/blob/devel/History.md

      section
        h2 Meteor London
        h3 International Guests!
        h3 We hope they like burritos!

      section
        h2 Package of the Month
        h3 H/T Mark Woodbridge (Chaser.io)
        h3 Package should be:
        ul
          li.list-item More than just a thin wrapper around another JS package
          li.list-item Not as well-known as it should be
          li.list-item Written by somebody other than the person giving the talk

      section
        h2.bright MDG
        h3 Meteor 1.1.1 on the way

      section
        h2 We will get:
        h3 Handlebars sub-expressions
        h3 Email attachments
        h3 New methods for ReactiveDict and Tracker

      section
        h2 Meteor Club Q&A with Matt Debergalis
        h3 Suggests a more opinionated future for MDG
        h3 Canonical packages brought into core
        h3 Built-in support for React, Angular, ES6
        h3 Well worth listening to!

      section
        h1 That's all, folks!

script(src='build/build.js')
