doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2.bright Where?
        h3 @meteorjs
        h3
          a https://www.meteor.com/blog
        h3
          a http://thisweekinmeteor.com/
        h3
          a https://crater.io/
        h3
          a https://forums.meteor.com
        h3
          a https://github.com/meteor/meteor/blob/devel/History.md

      section
        h2.bright MDG
        h3 Meteor 1.1.0.2

      section
        h2 Full Windows Support!
        h3 Discover Meteor updated
        h3 Meteor Up updated
        h3 Velocity updated
        h3 etc...

      section
        h2 In the pipeline
        h3 Handlebars sub-expressions
        h3 Email attachments
        h3 New methods for ReactiveDict and Tracker

      section
        h2 AMA with Sashko
        h3 Mostly about packages!
        h3 Quasi-official packages
        h3 Paid packages
        h3 SSR and Lazy Loading not priorities

      section
        h2 MeteorHacks show with Justin
        h3 Galaxy to run Docker containers via Kubernetes on AWS (US)
        h3 ...which means "it just works":
        h3 Isolation
        h3 Scaling
        h3 Fault Tolerance
        h3 Like "meteor deploy" with a beautiful UI

      section
        h2 Interesting Packages
        h3 gwendall:template-animations
        h3 studiointeract:spiderable
        h3 peerlibrary:blaze-components
        h3 simple:rest
        h3 simple:rethink

      section
        h2 Testing
        h3 Velocity core team joins xolv.io
        h3 Velocity hits v0.6.3
        h3 Cucumber hits v0.7

      section
        h2 Meteor London
        h3 New, bigger venue! (thanks, Rainmaking Loft)
        h3 So even more reason to do a Lightning Talk!

      section
        h1 That's all, folks!

script(src='build/build.js')
