doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2 Where?
        h3
          a(href="https://forums.meteor.com") https://forums.meteor.com
          
        h3
          a(href="https://www.meteor.com/blog") https://www.meteor.com/blog
          
        h3
          a(href="http://meteorweekly.com/") http://meteorweekly.com
          
        h3
          a(href="https://transmission.simplecast.fm") https://transmission.simplecast.fm
          
      section
        h2 HISTORY.md
        h3
          a(href="https://github.com/meteor/meteor/blob/devel/History.md") https://github.com/meteor/meteor/blob/devel/History.md

      section
        h2 You!
        h3
          a(href="https://gitter.im/meteor-london/next") https://gitter.im/meteor-london/next

      section
        h1 Previously... 
          br 
          | on Meteor
        
      section
        h2 v1.3.2 
        h3 Full ES2015/CommonJS module support
        h3 Import NPM modules directly (including on the client)
        h3 Import assets (e.g. stylesheets) from node_modules in JS (!)
        h3 ES2015 Generators, and ES2016 async/await support

      section
        h2 v1.3.3
        h3 Node upgraded from 0.10.43 to 0.10.45!
        h3 DDP batching
        h3 <code>.babelrc</code> support
        h3 flexible `import` usage
        
      section
        h2 v1.3.3.1
        h3 Bug fixes'n'version updates!
        
      section
        h2 v1.3.4
        h3 npm updated from 2.15.1 to 3.9.6 for windows users.
        h3 30s timeout for HTTP requests from meteor cli...
      
      section
        h2 No such thing
          br
          br
          | as a minor change.
      
      section
        h2 v1.3.4.1
        h3 Increase HTTP timeout for meteor cli 
          br
          | to allow deploys to Galaxy!
        
      section
        h2 Always test 
          br
          br
          | with real users.
        
      section
        h1 ROADMAP
        
      section
        h2 Roadmap
        h3 Mongo db 3.2
        h3 Node 4.4+
        h3 Further npm integration.
        h3 Test mode improvements for CI
        
      section
        h3 Project Governance and you.
        h3 View layer as React / Angular / Blaze
        h3 Other data sources via Apollo...
        
      section
        h2 APOLLO (Reactive GraphQL)
        h3 Website:
          a(href='http://www.apollostack.com/') http://www.apollostack.com
        h3 Blog:
          a(href='https://medium.com/apollo-stack') https://medium.com/apollo-stack
        h3 Example apps:
          a(href='http://docs.apollostack.com/#Example-apps') http://docs.apollostack.com/#Example-apps
        
      section
        h1 Community
      
      section
        h2 European Meteor Unconference
        h3 Friday 15th July, Berlin
        h3 Ask us about discount codes
      
      section
        h1 Package of the month
        
      section
        h2 
          a(href='https://github.com/deanius/meteor-debug-ddp/blob/master/meteor-debug-ddp.js') deanius:debug-ddp
        h3 DDP traffic dumped to your browser console. 
      
      section
        h2 What's your news?
        
      section
        h1 Get in touch
        h4 github.com/meteor-london/next

      section
        h1 That's all, folks!

script(src='build/build.js')
