doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 News

      section
        h2 Where?
        h3
          a(href="https://forums.meteor.com") https://forums.meteor.com
          
        h3
          a(href="https://www.meteor.com/blog") https://www.meteor.com/blog
          
        h3
          a(href="http://thisweekinmeteor.com/") http://thisweekinmeteor.com/
          
        h3
          a(href="https://crater.io/") https://crater.io/
          
        h3
          a(href="https://voice.kadira.io") https://voice.kadira.io

      section
        h2 HISTORY.md
        h3
          a(href="https://github.com/meteor/meteor/blob/devel/History.md") https://github.com/meteor/meteor/blob/devel/History.md

      section
        h2 You!
        h3
          a(href="https://gitter.im/meteor-london/next") https://gitter.im/meteor-london/next

      section
        h1 MDG

      section
        h2 Meteor Guide
        h3 Opinionated instructions on building an app in Meteor 1.2.1
        h3 Covers the entire process
        h3 Written by Sashko Stubailo, with much input from Meteor devs
        
      section
        h2 v1.3 (end of February?)
        h3 Supports ES2015/CommonJS modules
        h3 Import NPM modules directly (including on the client)
        h3 Load order resolution via imports
        h3 ES2015 Generators, and ES2016 async/await support
        h3 No incremental loading (yet)

      section
        h2 Reactive GraphQL
        h3 Will leverage Facebook's GraphQL/Relay for the data layer
        h3 Support MongoDB, SQL, REST APIs out of the box
        h3 But how much boilerplate will that require?
        h3 Watch the React Conf. on the 22nd/23rd Feb!

      section
        h1 Kadira
        
      section
        h2 Mantra
        h3 A well-specified, 
          em application architecture
          | for Meteor
        h3 High maintainability via linters/testing
        h3 Futureproof
        h3 There is already the start of a tutorial at
          a(href="https://tutor.mantrajs.com") tutor.mantrajs.com
      
      section
        h4 Discuss.
        
      section
        h2 What's your news?
        
      section
        h1 Get in touch
        h4 github.com/meteor-london/next

      section
        h1 That's all, folks!

script(src='build/build.js')
